.pageTitle {
    color: rgb(175, 175, 175);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-container {
    width: 50%;
    margin: auto;
    position: relative;
    margin-top: 2rem;
}

.homePageHeader {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: snow;
}

.weatherDetails {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}